################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LibraryOperatingProgram/v16/Browse.VC.db
